{{ define "main" }}
  <html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vítejte na mém webu</title>
</head>
<body>
  <h1>Vítejte na mém webu!</h1>
  <p style="text-align: justify;">
    Vítejte na mém osobním portfoliu, kde zkoumám svět tvorby a inovací – od digitálního návrhu až po fyzickou realizaci. Tento projekt je věnován principům a experimentům z kurzu <em>How to Make (Almost) Anything</em>, kde spojuji kreativitu s technickými dovednostmi a objevím, jak se myšlenky mění v reálné objekty. Prozkoumejte moje projekty, zjistěte, jak vznikají, a inspirujte se procesem, který stojí za každým návrhem.
  </p>
  <ul>
    <li><a href="posts/O_mně/">O mně</a></li>
    
  </ul>
  <hr>
  <h1>Tvorba webu</h1>
  <p style="text-align: justify;">
    Úkolem bylo vytvořit vlastní webové stránky, které dokumentují postup a výsledky práce v rámci kurzu How to Make (Almost) Anything. Web má úvodní stránku, sekci „O mně“ a jednotlivé příspěvky k dílčím úkolům i k finálnímu projektu, přičemž každý příspěvek popisuje použitý postup, řešení úkolu a dosažené výsledky.
  </p>
   <ul>
    <li><a href="posts/1_Úkol/">1. Úkol</a></li>
   </ul>
   <hr>
   <h1>2D grafika a řezání</h1>
   <ul>
    <li><a href="posts/2_Úkol/">2. Úkol</a></li>
    </ul>
    <hr>
    <h1>3D modelování a tisk</h1>
    <ul>
    <li><a href="posts/3_Úkol/">3. Úkol</a></li>
    <li><a href="posts/4_Úkol/">4. Úkol</a></li>
    <li><a href="posts/5_Úkol/">5. Úkol</a></li>
    <li><a href="posts/Individuální_projekt/">Individuální projekt</a></li>
   </ul>
</body>
</html>
{{ end }}