{{ define "main" }}
  <html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vítejte na mém webu</title>
</head>
<body>
  <h1>Vítejte na mém webu!</h1>
  <p style="text-align: justify;">
    Vítejte na mém osobním portfoliu, kde zkoumám svět tvorby a inovací – od digitálního návrhu až po fyzickou realizaci. Tento projekt je věnován principům a experimentům z kurzu <em>How to Make (Almost) Anything</em>, kde spojuji kreativitu s technickými dovednostmi a objevím, jak se myšlenky mění v reálné objekty. Prozkoumejte moje projekty, zjistěte, jak vznikají, a inspirujte se procesem, který stojí za každým návrhem.
  </p>
  <ul>
    <li><a href="{{ "posts/o_mne" | relURL }}">O mně</a></li>
    
  </ul>
  <hr>
  <h1>Tvorba webu</h1>
  <p style="text-align: justify;">
    Úkolem bylo vytvořit vlastní webové stránky, které dokumentují postup a výsledky práce v rámci kurzu How to Make (Almost) Anything. Web má úvodní stránku, sekci „O mně“ a jednotlivé příspěvky k dílčím úkolům i k finálnímu projektu, přičemž každý příspěvek popisuje použitý postup, řešení úkolu a dosažené výsledky.
  </p>
   <ul>
    <li><a href="{{ "posts/1_ukol" | relURL }}">1. Úkol</a></li>
   </ul>
   <hr>
   <h1>2D grafika a řezání</h1>
   <p style="text-align: justify;">
   Vytvořil jsem 3D model tradičního japonského domu v programu Autodesk Inventor. Model jsem následně převedl do DXF, vyřezal z kartonu a ručně složil. Díky 5mm otvorům do sebe zámečky přesně zapadly a zajímavým detailem je systém upevnění střechy a malý kamínek na podstavci.
   </p>
   <ul>
    <li><a href="{{ "posts/2_ukol" | relURL }}">2. Úkol</a></li>
    </ul>
    <hr>
    <h1>3D modelování a tisk</h1>
    <p style="text-align: justify;">
      Navrhl a vytiskl jsem 3D model vačkového mechanismu s rybou a ledním medvědem. Dvě vačky zajišťují plynulý pohyb obou postav. Největší výzvou bylo vejít se do limitu 100 g a vyřešit omezený prostor uvnitř mechanismu, ale výsledkem je plně funkční prototyp.
    </p>
    <ul>
    <li><a href="{{ "posts/3_ukol" | relURL }}">3. Úkol</a></li>
    </ul>
    <hr>
    <h1>Skenování</h1>
    <p style="text-align: justify;">
      Pomocí laserového skeneru Simscam jsem naskenoval 3D vytištěnou židli bez potřeby povrchové úpravy. Nastavil jsem rozlišení 1 mm a expoziční čas 1 ms, což zajistilo kvalitní záznam. Data jsem exportoval do .stl, upravil v GOM Inspectu a doplnil mesh o chybějící části. Nakonec jsem změřil největší rozměr, libovolný rozměr a obsah povrchu modelu.
    </p>
    <ul>
    <li><a href="{{ "posts/4_ukol" | relURL }}">4. Úkol</a></li>
    </ul>
    <hr>
    <h1>Elektronický obvod s mikrokontrolérem</h1>
    <p style="text-align: justify;">
    V rámci miniprojektu z elektrotechniky jsem navrhl a sestavil funkční MP3 přehrávač založený na mikrokontroleru Arduino Uno. Obvod využívá bzučák k přehrávání pěti uložených melodií a tři tlačítka pro ovládání přehrávání, přepínání skladeb a návrat na předchozí skladbu. Stav přehrávače je indikován pěti LED diodami s odpory 510 Ω, které signalizují aktuálně zvolenou melodii.
    </p>
    <ul>
    <li><a href="{{ "posts/5_ukol" | relURL }}">5. Úkol</a></li>
        </ul>
    <hr>
    <h1>Individuální projekt</h1>
    <p style="text-align: justify;"></p>
    Tento projekt se zabývá návrhem a realizací samoladícího elektrického ukulele, které integruje mechanický ladicí systém, elektroniku a embedded software do jednoho kompaktního nástroje. Cílem bylo vytvořit funkční prototyp schopný automatického ladění strun na základě detekce jejich frekvence, a to s minimálním zásahem uživatele. Projekt vznikl iterativním vývojem zahrnujícím návrh mechaniky, elektroniky, algoritmu ladění i uživatelského rozhraní a slouží jako experimentální propojení hudby, strojního inženýrství a digitální výroby.
    </p>
    <ul>
    <li><a href="{{ "posts/individualni_projekt" | relURL }}">Individuální projekt</a></li>
   </ul>
</body>
</html>
{{ end }}